DATABASE_URL="file:./dev.db"
PORT=4000
JWT_SECRET="change_this_to_a_long_random_string"
JWT_EXPIRES_IN="8h"
CUSTOMER_JWT_SECRET="change_this_to_a_different_long_random_string"
CUSTOMER_JWT_EXPIRES_IN="30d"
NODE_ENV="development"
